.container {
  display: flex;
  flex-direction: row;
}
.allCheckBtn {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background: #868e96;
  color: white;
  &:hover {
    background: #adb5db;
  }
  &.allCheck {
    color: #22b8cf;
  }
}

.TodoInsert {
  width: 100%;
  display: flex;
  background: #495057;
  input {
    background: none;
    outline: none;
    border: none;
    padding: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
    color: white;
    &::placeholder {
      color: #dee2e6;
    }
    flex: 1;
  }
  button {
    background: none;
    outline: none;
    border: none;
    background: #868e96;
    color: white;
    padding: 0 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.1s background ease-in;
    &:hover {
      background: #adb5db;
    }
  }
}
